.tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.tab {
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  background-color: #28283c;
}
