.filter-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #14283c;
  min-width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expanded {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #14283c;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
}
.expanded::-webkit-scrollbar {
  width: 8px;
}

.expanded::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.expanded::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.expanded::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.expanded input[type="text"] {
  color: #fff;
  transition: none;
  position: sticky;
  box-sizing: border-box;
  top: 0%;
  z-index: 100;
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
  background-color: #14283c;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.expanded span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}

.expanded span:hover {
}

.selected {
  font-weight: bold;
  color: blue;
}
