.polygon-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.polygon-form > span {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.polygon-form > span > label {
  width: 70px;
}
.polygon-form input[type="text"] {
  background: none;
  border: none;
  outline: none;
  padding: 5px 8px;
  font-size: 16px;
  background-color: #14283c74;
  border-bottom: 1px solid #596466;
  opacity: 1;
  color: white;
}

.input-row span {
  width: 50%;
  display: flex;
}
.input-row label {
  width: 25%;
}
.polygon-create button {
  width: 140px;
  padding: 6px 4px;
}
.polygon-result {
  overflow: auto;
  height: 300px;
}
