.cep-identifier {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cep-identifier-header {
}

.input-space {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 2px;
  gap: 5px;
  width: 100%;
}
.input-cep {
  background: none;
  border: none;
  outline: none;
  padding: 5px 8px;
  font-size: 16px;
  background-color: #14283cc0;
  border-bottom: 1px solid #596466;
  opacity: 1;
  flex: 1;
  color: white;
}
.input-cep:disabled {
  cursor: default;
  opacity: 0.7;
}

table {
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  gap: 10px;
  flex: 1;
}
.result-space {
  display: flex;
  flex-direction: column;
}
.result-label {
  background-color: #14283c;
  border: 1px solid #596466;
  padding: 5px 8px;
  width: 150px;
  text-align: center;
}
.result-list {
}
